[data-theme="dark"] {
  --body-bg: #000;
  --body-color: #fff;
  --btn-submit-bg-1: #ffbb7e;
  --btn-submit-bg-2: #e4720d;
  --btn--submit--shadow: 0px 8px 26px 0px rgba(46, 115, 255, 0.1);
  --card-style: #151515;
  --card-radius: 8px;
  --light-color: #00c389;
  --easyinput__border: 1px solid #363232;
  --easyinput__color: #fff;
  --footer-bg: #1f1f1f;
  --form-main-uni-easyinput__content: #2b2b2b;
  --login-banner-top-img: url(/static/images/dark/login-top-photo.png?t=2);
  --ui-color-light: #201110;
  --ui-color-normal: #e77713;
  --ui-color-dark: #e67817;
  --uni-navbar-bg: #f8f9fd;
  --user-card-bg: #fff;
  --bal-bar-bg: #623cea;
  --vs-group-panel-bg: #fff;
  --pop-color: #181616;
  --market-vs-color: #fff;
  --vs-form-easyinput__content-bg: #fcfefd;
  --input-color: #181616;
  --p-info-flex-bg: #fcfefd;
  --user-tran-car-bg: #f5f3fe;
  --v-tabs-color: rgba(0, 0, 0, 0.7);
  --bs-panel-bg: #000;
  --top-link-tabs-bg: #302985;
  --rec-card-bg: #fff;
  --u-calendar-bg: #fcfefd;
  --s-info_flex-rlabel: #999;
  --bs-mt-panel-bg: #fff;
  --trade-list-card-bg: #fff;
  --calendar-content-bg: linear-gradient(180deg, #1b1b1b, #1b1b1b);
  --user-info-panel-bg: #000;
  --pu-cell-bg: #212121;
  --user-info-input-bg: #302985;
  --btn--info-bg: #e67817;
  --userCarAddPop-bg: #151515;
  --textPwdStyle-bg: #2b2b2b;
  --bs-form-hd-bg: #1b1b1b;
  --fun-list-card-bg: #fff;
  --fun-background-color: #fff;
  --skin-bg: #38359a;
  --invte-panel-bg: #fff;
  --dotted-bg-1: #7e7e7e;
  --inv-card-data-card-bg: #b9c0d9;
  --inv-card-bg-1: url("/static/images/inv-card-bg-1.png");
  --inv-card-bg-2: url("/static/images/inv-card-bg-2.png");
  --inv-card-bg-3: url("/static/images/inv-card-bg-3.png");
  --team-tabel-header: #c5001e;
  --team-tabel-bottom-header: #fff;
  --ws-panel-bg: #fff;
  --team-tabel-list-bg: #fff;
  --uni-picker-view-mask: linear-gradient(
      180deg,
      #1b1b1b,
      rgba(43, 35, 129, 0.1)
    ),
    linear-gradient(0deg, #1c1c1c, hsl(242deg 49% 41%/10%));
  --u-picker-body-bg: #303133;
  --grant-item-bg: #fff;
  --inv-numbsers-color: #c5001e;
  --panel-bg: #fff;
  --rec-select-flex-bg: #38359a;
  --select-collapse-bg: linear-gradient(180deg, #3c39a0, #29217f);
  --select-collapse-border: none;
  --ac-rec-row-active-bg: linear-gradient(to right bottom, #f9d1ae 5%, #e67817);
  --sc_img_1-bg: #38359a;
  --u-line-bg: #4e4cb9;
  --u-live-close: #fff;
  --fan-card-border: 1px solid #1b1b1b;
  --index-link-card-0: linear-gradient(90deg, #4facfe, #4460e1);
  --index-link-card-1: linear-gradient(90deg, #a791f8, #623cea);
  --link-right-left: none;
  --link-start-right-border: #eae3f1;
  --footer-margin-top: -20px;
  --index-enters-margin-top: 50px;
  --index-link-card-margin: -15px -15px 0 -15px;
  --form-cells-bg: #fff;
  --tab-card-bg: #fff;
  --tab-card-site-head: none;
  --news-list-bg: #fff;
  --news-foot-bar-bg: #fff;
  --apl-btn-footer-bg: #151515;
  --index-panel_hd-more-color: #000;
  --hd-cont-t1-color: #fff;
  --bottom-info-bg: #fff;
  --uc-cells-j-cell-color: #000;
  --hall-title-color: #fff;
  --hall-intro-color: #ffbb7e;
  --boxRight-no-bg: #bb7983;
  --no-active-color: #ff9c9c;
  --noQuick-color: #5d5bb2;
  --noCarBtn-yes-1: #e15b17;
  --noCarBtn-yes-2: #fcc2a8;
  --boxRight-activeLeft-bg1: #c5001e;
  --boxRight-activeLeft-bg2: #bb7983;
  --top-label-img: url(/static/images/skin/red/tt.png);
  --uni-logo-img: url(/static/images/skin/red/logo.png);
  --index-market-img: url(/static/images/skin/red/index-market.png);
  --card-ico-img: url(/static/images/skin/red/card.png);
  --trade-ico-img-a: url(/static/images/skin/red/trade-ico-a.png);
  --trade-ico-img-b: url(/static/images/skin/red/trade-ico-b.png);
  --trade-ico-img-c: url(/static/images/skin/red/trade-ico-c.png);
  --team-user-car-level-img: url(/static/images/skin/red/team-user-car.png);
  --hall-top-img: none;
  --hall-card-img: url(/static/images/skin/red/hall-bg-a.png?h=1);
  --hall-card-b-img: url(/static/images/skin/red/hall-bg-b.png);
  --hall-card-c-img: url(/static/images/skin/red/hall-bg-c.png);
  --hall-abs-img: url(/static/images/skin/red/line-gr.png);
  --market-awou-top-img: url(/static/images/skin/red/index-market-top.png);
  --menun-head-img: url(/static/images/dark/menun.png?t=1);
  --side-menu0-img: url(/static/images/dark/user-icon-0.png);
  --side-menu1-img: url(/static/images/dark/user-icon-1.png);
  --side-menu2-img: url(/static/images/dark/user-icon-2.png);
  --side-menu3-img: url(/static/images/dark/user-icon-3.png);
  --side-menu4-img: url(/static/images/dark/user-icon-4.png);
  --side-menu5-img: url(/static/images/dark/user-icon-5.png);
  --side-menu6-img: url(/static/images/dark/user-icon-6.png);
  --side-menu7-img: url(/static/images/dark/user-icon-7.png);
  --side-menu8-img: url(/static/images/dark/user-icon-8.png);
  --side-menu9-img: url(/static/images/dark/user-icon-9.png);
  --u-pop-border-radius: 10px 10px 0 0;
  --card-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.13);
  --font-color: linear-gradient(1deg, #3edd00, #3edd00);
  --card-top-color: url(/static/images/dark/card-hd-bg.png) center no-repeat;
  --table-top-color: #1b1b1b;
  --link-color: #949494;
  --market-link-color: #949494;
  --index-more-color: #949494;
  --blue-color: #ecac74;
  --text-red: #9e1700;
  --gradient-color: linear-gradient(179deg, #ffbb7e, #e4720d);
  --btn-gray-color: #2b2b2b;
  --tradeing-on-bg: #2b2b2b;
  --dark-gray-color: #29217f;
  --text-gray-color: #ccc;
  --green-light-color: #3edd00;
  --foot-logo: url(/static/images/skin/default/logo-foot.png);
  --mod-color: #fff;
  --mod-active-color: #fff;
  --mod-active-bg: #e67817;
  --text-light: #949494;
  --page-title-color: #fff;
  --close-color: #949494;
  --close-bg: #151515;
  --bar-bg: #251d73;
  --bar-gradient: linear-gradient(135deg, #fcc2a8, #e15b17, #b01a4e);
  --doanload-bg: linear-gradient(179deg, #fcc2a8, #e15b17);
  --bar-color: #fff;
  --tab-item-bg: #2b2b2b;
  --market-pop-bg: #2b2b2b;
  --market-pop-color: #fff;
  --tab-item-color: #fff;
  --palyBtn-border: 20px;
  --palyBtnText-bg: linear-gradient(100deg, #1aeacb, #4571ff);
  --mar-bg: #151515;
  --quk-btn-bg: #151515;
  --bank-0: url(/static/images/dark/bank-0.png);
  --bank-1: url(/static/images/dark/bank-1.png);
  --bank-2: url(/static/images/dark/bank-2.png);
  --bank-3: url(/static/images/dark/bank-3.png);
  --pop-top: #42403c;
  --pop-bottom: #666;
  --btn-other-bg: #999;
  --btn-other-color: #fff;
  --guid-time-bg: #2b2b2b;
  --game-icon: url(/static/images/index-ico-cup.png);
  --quk-icon: url(/static/images/index-ico-quk.png);
  --ing-icon: url(/static/images/index-ico-hot.png);
  --loading-icon: url(/static/images/app_qiu.png);
  --loading-text: url(/static/images/web_name_twp.png);
  --game-arrow-bg: #151515;
  --game-arrow-color: #fff;
  --wallet-bg: none;
  --active-color: linear-gradient(90deg, #c13636, #fca86e);
  --inactive-color: #050505;
  --u-skeletonA: #1b1b1b;
  --u-skeletonB: #1b1b1b;
  --index-main-bg: url(/static/images/index-bg.jpg);
  --navbar-color: #fff;
  --foot-nav-color: #fff;
  --foot-info-color: #d6d6d6;
  --foot-line-color: #2b2b2b;
  --footer-border-radius: 20px 20px 0 0;
  --navbar-bg: url(/static/images/nav-bg.jpg);
  --user-card-bg: url(/static/images/ucard.jpg);
  --aside-bg: url(/static/images/dark/side-bg.png);
  --menu-aside-color: #151515;
  --message-icon: url(/static/images/dark/message.png);
  --tab-text-color: linear-gradient(178deg, #eca465, #ec7819 73.4619140625%);
  --tab-dot-color: linear-gradient(178deg, #eca465, #ec7819);
  --foot-tab-icon-color: #ecac74;
  --foot-tab-icon-active-color: #ec7819;
  --textarea-bg: #2b2b2b;
  --shadow-bg: 0px 6px 13px 0px rgba(0, 0, 0, 0.14);
  --placeholder__color: #949494;
  --doanload-color-1: #ffbb7e;
  --doanload-color-2: #e4720d;
  --border-color: #151515;
  --uni-select-bg: #3c39a0;
  --uni-select__selector-item-active: #444;
  --uni-select__selector-bg: #151515;
  --disabled-color: #666;
  --disabled-bg: #959391;
  --quk-bg: #4571ff;
  --top-close-bg: none;
  --bs-popup-bg: #151515;
  --bs-popup-hd: #1b1b1b;
  --tabbar-bg: #000;
  --lenueg-class-bg: #251d73;
  --u-search-bg: #38359a;
  --leagueListPop-bg: #251d73;
  --time-color: #949494;
  --market-span-zd-color: #fff;
  --market-span-kd-color: #fff;
  --market-name-color: #fff;
  --market-g-time-color: #fff;
  --tab-active: linear-gradient(178deg, #ffbb7e, #e4720d);
  --game-popup-top: url(/static/images/dark/game-popup-top.png);
  --neay-union-a: url(/static/images/dark/neay-a.png);
  --neay-union-b: url(/static/images/dark/neay-b.png);
  --neay-union-c: url(/static/images/dark/neay-c.png);
  --dist-top-bg: url(/static/images/dark/distribution-top-bg.jpg);
  --data-bg-a: linear-gradient(152deg, #0b4de6, #0b4de6);
  --data-bg-b: linear-gradient(152deg, #e67817, #e67817);
  --data-bg-c: linear-gradient(152deg, #da391d, #da391d);
  --data-bg-d: linear-gradient(152deg, #ecac74, #ecac74);
  --ret-card-bg: url(/static/images/ret-card-bg.jpg);
  --fun-team-bg: #151515;
  --circle-bg: #000;
  --ws-popup-bg-1: url(/static/images/dark/wsPop1.png);
  --ws-popup-bg-2: url(/static/images/dark/wsPop2.png);
  --ws-popup-bg-3: url(/static/images/dark/wsPop3.png);
  --picker-border-color: #4e4cb9;
  --tab-radius: 8px;
  --team-lv-color1: #e67817;
  --team-lv-color2: #da391d;
  --team-lv-color3: #0b4de6;
  --ws-day-bg: #e4cfa6;
  --ws-day-active-bg: #ffcd19;
  --ws-day-color: #fff;
  --ws-dot-bg: #e67817;
  --calendar-active-bg: #ebbd64;
  --rangeBgColor-bg: rgba(235, 189, 100, 0.13);
  --gradient-data-img: url(/static/images/dark/fund_top-bg.jpg);
  --fundData-card: url(/static/images/dark/fundData-card.jpg);
  --yellow-color: linear-gradient(
    -4deg,
    #ebbd64 5.908203125%,
    #e0ae54 35.9130859375%,
    #f0c267 69.1650390625%,
    #facd79 95.9716796875%
  );
  --btn-left: #ecac74;
  --btn-left-color: #fff;
  --btn-right: linear-gradient(179deg, #ffbb7e, #e4720d);
  --btn-right-color: #fff;
  --invte-banner-img: url(/static/images/dark/inv-banner.jpg);
  --inv-bar-bg: #151515;
  --inv-bar-border-color: #2b2b2b;
  --inv-btn-bg: #e67817;
  --fun-bar-bg: #392f25;
  --fun-bar-color: #bc6a21;
  --game-type-1: url(/static/images/skin/default/type-all.png);
  --faq-bg: #151515;
  --faq-textarea-bg: #f9f9ff;
  --faq-radius: 4px;
  --b-border: #2b2b2b;
  --b-border2: #010101;
  --status-cancel: #ff5e5e;
  --status-over: #949494;
  --arrow-bg: url(/static/images/dark/youjiantou.png);
  --tra-val-color: #fff;
  --revokeBtn-bg: #2b2b2b;
  --revokeBtn-color: #e67817;
  --vs-middle-color: #3edd00;
  --game_top-color: #fff;
  --bar-gradient-1: #fff;
  --game_time-color: #fff;
  --game-pop-vs-bg: url(/static/images/game-popup-top.png);
  --team-bar-left-bg: #;
  --team-bar-right-bg: #9b1822;
  --u-pop-boradi: 20;
  --loading-third-bg: #ccc;

  //home
  --home-card-color: #2b2b2b;
  --home-uni-countdown-color: #fff;
  --home-table-tr-color: #2b2b2b;
  --home-table-td-font-color: #fff;
  --home-table-border-radius: none;
  --home-table-border-radius-1: 0 8px 8px 0;
  --home-lang-bar-color: #000;
  --home-lang-bar-color-icon: #fff;
  --home-light-icon-color: #fff;
  --home-change-light-color: #e67817;
  --home-change-dark-color: none;
  //safebox
  --box-backgroud-color: rgb(40, 40, 40);
  --box-backgroud-border: rgb(18, 18, 18);
}
